.home-page {
    background-image: url("https://acp-assets.sfo3.cdn.digitaloceanspaces.com/assets/images/article_images/945393A9-5118-4C9D-9663-9FD726AFFF52.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}